
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  header{
    height: 64px;
    z-index:1;
  }


  /*--------------navbar--------------*/
    :root {
    --navbar-bg-color:#1d1b31;
    --navbar-text-color: #ffff;
    --navbar-text-color-focus:#fff;
    --navbar-bg-contrast: #2d2145;
    --navbar-height: 64px;
    }
    
    #navbar {
    position: fixed;
    height: var(--navbar-height);
    left: 0;
    right: 0;
    padding: 0% 3%;

    background-color: var(--navbar-bg-color);
    box-shadow: 0 2px 4px #1d1b31;
    }
    .navbar-container {
  
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    }
    .navbar-item {
    margin: 0.4em;
    width: 100%;
    }

    .home-link,
    .navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    font-size: unset;
    }

    .home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    }

    .navbar-link {
    justify-content: normal;
    width: 100%;
    border-radius: 5px;
    padding-left: 30%;
    }

    .navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
    }
    .navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    }
    .navbar-logo img {
    border-radius: 50%;
    }
    #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
    }
    #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
    }
    #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    }
    #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
    }
    .navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    padding: 1em;
    }
    @media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    }

    .navbar-link img {
    margin-right: 15px;
    }

    /*details*/
    #details{
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    right: 0;
    }
    .details{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 64%;
    padding: 0% 15px;
    }
    .text-details, .number-details{
        color: var(--navbar-text-color);
        font-size: small;
        height: 50%;
    }
  
  /*main*/
  
  main{
    padding-top: 64px;
    background-color: #735f9b;

  }


  /*footer*/

  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
      position: inherit;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }